*

certs/*
!certs
!.gitignore
!.env.dev.sample
!.env.prod.sample
!README.md
!docker-compose.dev.yml
!docker-compose.prod.yml
!dynamic_conf.dev.yaml
!dynamic_conf.prod.yaml
!traefik.dev.yml
!traefik.prod.yml
!README.md
!certs.sh